body{
  color: gray;
  background: white;
}

.react-root {
  display: flex;
  justify-content: center;
}
/**************
  Components
**************/

// Base component (app)
.video-player {
  max-width: 40em;
  margin: 2em 0 0 0;
}

// SearchBar
.search-bar {
  display: flex;
  margin: 1em 0;
  input {
    width: 100%;
    padding: 1em;
    border: 2px solid lighten(gray, 37.5);

  }
}

// VideoList
.video-list {
  margin: 2em 0 0 0;
}

// VideoListItem
.video-list-item {
  cursor: pointer;
  transition: .3s;
  background-color: lighten(gray, 42.5);
  padding: 1em;
  margin: .5em 0;
  &:hover {
    background-color: lighten(gray, 40);
  }
}
