body{
  color: gray;
  background: white;
}

/**************
  Components
**************/

//VideoList

.video-list {

}

//VideoListItem

.video-list-item {
  cursor: pointer;
  transition: .3s;
  background-color: lighten(gray, 42.5);
  padding: 1em;
  margin: .5em 0;
  &:hover {
    background-color: lighten(gray, 40);
  }
}
